h1
{
    color: red;font-size: larger;

}
.india
{
color:tomato;font-size: larger;
}
.australia
{
    color: seagreen;font-size: larger;
}
.america
{
    color: slateblue;font-size:larger ;
}
.malaysia
{
    color:violet;font-size: larger;
}
#states
{

    color: turquoise;font-size: larger;
}